@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Marck+Script&display=swap');

// font-family: 'Gabriela', serif;
// font-family: 'Marck Script', cursive;

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
};

body {
    background: url(img/back.jpg) repeat-y 100% 0;
};

div {
    padding: 7px;
};

ul {
  list-style: none;
  margin: 10px;
  max-width: 433px;
  overflow-wrap: break-word;
};

li {
    padding: 10px 5px;
    font-family: 'Marck Script', cursive;
    font-size: 1.7rem;
    background-color: #ffeeee9c;
    border-radius: 20px;
    min-height: 30px;
    margin-bottom: 7px;
};

h1 {
    text-align: center;
    font-family: 'Gabriela', serif;
    font-size: 2.2rem;
    color: #682913;
    text-shadow: 2px 2px 3px #795548;
    background-color: #e8d2d2ad;
    border-radius: 20px;
    min-height: 70px;
    padding-top: 15px;
    margin-bottom: 7px;
};

.userList {
    background-color: #81565636;
    border-radius: 20px;
    min-height: 300px;
};

.userToDo {
    margin: 0 auto;
    width: 500px;
    min-height: 300px;
    border: 2px solid transparent;
    border-radius: 25px;
    margin-top: 30px;
    background: url(img/back-to-do.jpg) repeat-y 100% 0;
};

.list {
    min-height: 300px;    
};

.buttons {
    background-color: #81565636;
    border-radius: 20px;
    min-height: 70px;
    padding: 10px;
};

input {
    width: 320px;
    background: #fad3b8db;
    border: 1px solid #9e733c69;
    height: 50px;
    padding: 15px 5px;
    border-radius: 10px;
    font-family: 'Marck Script', cursive;
    font-size: 1.7rem;
};

button {
    width: 130px;
    border: 1px solid #9e733c69;
    margin-left: 1px;
    background: #eeb485b0;
    height: 50px;
    border-radius: 10px;
    font-family: 'Marck Script', cursive;
    font-size: 1.7rem;
};